[submodule "mongo"]
	path = mongo
    url = https://github.com/mongodb/mongo.git
[submodule "niscu"]
	path = niscu
	url = https://github.com/kentonv/mongo.git
	branch = niscu
[submodule "mongo-tools"]
	path = mongo-tools
	url = https://github.com/mongodb/mongo-tools.git
